version: 2
updates:
  - package-ecosystem: bundler
    directory: /mat_views
    schedule:
      interval: daily
  - package-ecosystem: bundler
    directory: /mat_views_demo
    schedule:
      interval: daily
  - package-ecosystem: bundler
    directory: /docs
    schedule:
      interval: daily
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: daily
