<div class="mv-toolbar start">
  <%= mv_drawer_link(new_admin_mat_view_definition_path(frame_id: 'mv-drawer'), t("mat_views.mat_view_definition.new_definition"),
                     variant: :primary,
                     testid: 'NEW_DEFINITION_LINK',
                     tooltip: t("mat_views.mat_view_definition.new_definition_tooltip")) do %>
    <%= mv_icon(:plus_circle) %>
    <%= t("mat_views.mat_view_definition.new_definition") %>
  <% end %>
</div>
<%= render "mat_views/admin/ui/datatable", dt_config: @dt_config, row_values: @data %>
