<% if notice %>
  <div class="mv-flash mv-flash--ok" data-controller="flash"><%= notice %></div>
<% end %>
<% if alert %>
  <div class="mv-flash mv-flash--err" data-controller="flash"><%= alert %></div>
<% end %>
